/* General styles */
:root {
    --iris: #4d5ae5;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #fff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global styles */
html {
    width: 1440px;
    height: 2060px;
    margin: auto;
    background: var(--white);
}

/* Top Line */
.header {
    width: 1440px;
    height: 72px;
    display: flex;
    justify-content:baseline;
    border-bottom: 1px solid var(--cornflower);
}
/* Logo */
.logo-header {
    width: 115px;
    height: 24px;
    margin-left: 156px;
    margin-top: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-web {
    color: var(--iris);   
}
.logo-studio {
    color: var(--navy-blue);
}
/* Menu */
.menu {
    width: 261px;
    height: 24px;
    margin-left: 76px;
    margin-top: 24px;
}
.menu ul {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.menu-portfolio {
    margin-left: 40px;
}
.menu-contacts {
    margin-left: 40px;
}
/* Contacts */
.contacts {
    display: flex;
    justify-content: baseline;
    margin-left: 332px;
    margin-top: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.contacts li {
    list-style-type: none;
}
.contacts a {
    text-decoration: none;
}
.mailto {
    margin-left: 40px;
}
.contacts a {
    color: var(--slate);
}
/* Main */
.hero-image {
    width: 1440px;
    height: 600px;
    background: var(--navy-blue);
    padding-top: 188px;
}
h1 {
    width: 496px;
    height: 120px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin-left: 472px;
}
.hero-image button {
    margin-left: 636px;
    margin-top: 48px;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    background: var(--iris);
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: var(--white);
}

/* Features */
.features {
    margin-left: 156px;
    margin-top: 120px;
    width: 1128px;
    height: 104px;
    display: flex;
    flex-direction: row;
}
.features div {
    width: 264px;
    height: 104px;
}
.punctuality {
    margin-left: 24px;
}
.diligence {
    margin-left: 24px;
}
.technologies {
    margin-left: 24px;
}
.features h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.features p {
    padding-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Our Team */
.team {
    width: 1440px;
    height: 732px;
    margin-top: 120px;
    padding-top: 120px;
    background: var(--cloud);
}
.team h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.team-cards {
    margin-top: 72px;
    display: flex;
}
.team-cards .product-designer,
.team-cards .frontend-developer,
.team-cards .marketing,
.team-cards .designer {
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px 0;;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}
.product-designer {
    margin-left: 156px;
}
.frontend-developer {
    margin-left: 24px;
}
.marketing {
    margin-left: 24px;
}
.designer {
    margin-left: 24px;
}
img {
    width: 264px;
    height: 260px;
    background: url("path_to-image");
}
.card-content {
    margin: 32px 16px;
}
.card-content h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.card-content p {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

/* Footer */
footer {
    width: 1440px;
    height: 312px;
    padding-top: 100px;
    padding-left: 156px;
    background: var(--navy-blue);
}
footer div {
    width: 264px;
    height: 112px;
}
/* Logo footer */
.logo-footer {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
footer .logo-studio {
    color: var(--cloud);
}
footer p {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}